<ion-header>
  <ion-toolbar>
    <ion-title>
      run baby run
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/images/img_BannerRun.jpg" [hidden]="!newRun" (click)="Start();"></ion-img>


    <ion-card-header [hidden]="runInProgress">
      <ion-row>
        <ion-col col-6 offset-3 text-center>
          <h2 style="font-size: 120px" [hidden]="!countDownBool || hideCountdown">{{count}}</h2>
          <h2 style="font-size: 120px" [hidden]="!goSign">GO</h2>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-header [hidden]="!runInProgress">
      <!-- <p id="faseType">{{faseMsg}}</p> -->
      <h1 id="runTimer">{{runningTime}}</h1>
    </ion-card-header>
    <ion-card-content [hidden]="!runInProgress">
      
    
      <p>elapsed time: {{totalTime}}</p>
      <br />
      <p id="faseType">{{faseMsg}}</p>
    </ion-card-content>
  </ion-card>

  <ion-content padding [hidden]="countDownBool">
    <ion-button shape="round" size="large" (click)="Start();" [hidden]="!newRun">
      <ion-icon name="play"></ion-icon>
      Start
    </ion-button>
    <ion-grid>
      <ion-row>
        <ion-col col-6 offset-3 text-center>
          <ion-button shape="round" size="large" style="height: 110px; " (click)="Pause();" [hidden]="!running">
            <ion-icon name="pause" style="font-size:80px;  "></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button size="large" expand="block" (click)="Resume();" [hidden]="running || newRun">
      Resume
      <ion-icon name="play" style="font-size:30px"></ion-icon>
    </ion-button>
    <br />

    <ion-item-sliding [hidden]="running || newRun">
      <ion-item>
        <ion-grid>
          <ion-row style="font-size:20px; text-align-last: right ;  width:100%; font-weight: bold;">
            <ion-col col-4 offset-3>
              <p style="align-content: center!important;">TERMINAR</p>

            </ion-col>

            <ion-col col-3>
              <ion-icon name="arrow-dropleft"
                style="font-size:38px; align-content: center!important; padding-top: 12px"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
      <ion-item-options>
        <button ion-button style="background-color: #ffc107; color:white; width:70px; font-size:16px"
          (click)="Restart();">
          <p>End</p>
        </button>
        <button ion-button style="background-color:#28a745; color:white; width:70px; font-size:16px"
          (click)="Terminar();">
          <p>Save</p>
        </button>
      </ion-item-options>



    </ion-item-sliding>
  </ion-content>

</ion-content>